<div class="beer-row" *ngFor="let beer of beers">
	<p>{{beer.number}}</p>
	<div class="single-beer" *ngFor="let element of beer.elements">
		<div class="cifra">
			<p>{{element.id}}</p>
		</div>
		<p class="Gravity">{{element.ogMin}} - {{element.ogMax}}<br>{{element.fgMin}} - {{element.fgMax}}</p>
		<div class="style">
			<h3>{{element.shortName}}</h3>
		</div>
		<p class="alc_bitter">{{element.abvMin}}-{{element.abvMax}}<br>{{element.ibuMin}}-{{element.ibuMax}}</p>
		<p class="bcolor">{{element.srmMin}}-{{element.srmMax}}</p>
	</div>
</div>